.card {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
}

.card button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #4070f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.card1{
  margin-left: 100px;
}
.card-container {
  display: flex;
  justify-content: space-around;
}
.card {
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-right: 20px; /* Add some space between cards */
}

.card:last-child {
  margin-right: 0; /* Remove margin from the last card to avoid extra space */
}
@media only screen and (max-width:425px){
  .card-container{
    display: flex;
    justify-content: none;
    flex-direction: column;
  }
  .card1{
    margin-left: 0px;
  }
  .card{
    height: 200px;
    width: 200px;
  }
}
.flex-container {
           display: flex;
           align-items: center;
           justify-content: space-between;
           padding: 20px;
       }

       .session-text {
           font-size: 1rem;
           display: flex;
           align-items: center;
           margin-right:-15px;
       }
#tb{
  margin-left: -15px;
}
#ti{
  margin-left: -15px;
  font-size: 1.5rem;
}
#in{
  margin-top: 35px;
}
#ad{
  margin-top: 22px;
}
